<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About Us</title>
</head>
<body>
    
    <nav class="header">
        <a href="index.html"><img class="img-logo" src="img/jroyalgrills'n'chopsnewlogo.png"></a>
        
        <ul class="navbar">
            <li class="nav-links"><a href="index.html">Home</a></li>
            <li class="nav-links"><a href="menu.html">Menu</a></li>
            <li class="nav-links"><a href="Gallery.html"> Gallery</a></li>

            <li class="nav-links"><a href="Reservation.html">Reservation</a></li>
            <li class="nav-item"><a href="about.html">About</a></li>
            </li>
                    <li class="hamburger" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                            </svg></a></li>
        </ul>

        <ul class="sidebar">
            <li class="sidebarbtn" onclick= hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a></li>
            <li class="side-nav"><a href="#"></a></li>
            <li class="side-nav"><a href="index.html">Home</a></li>
            <li class="side-nav"><a href="menu.html">Menu</a></li>
            <li class="side-nav"><a href="Gallery.html">Gallery</a></li>
            <li class="side-nav"><a href="Reservation.html">Reservation</a></li>
            <li class="side-nav"><a href="about.html">About Us</a></li>
        </ul>
    </nav>

    <main>
        <h1>OUR STORY</h1>
    </main>

    <div class="container">
        
            <div class="l1">
                <img src="img/restaurant_18055293.png" alt="">
                <div class="write">
                    <h1>Widest Variety</h1>
                    <p>Findors algorithm provides a peer to peer trustless secret ballot box. We  </p>
                </div>
            </div>
            <div class="l1">
                <img src="img/temperature_18255339.png" alt="">
                <div class="write">
                    <h1>Quality Sources</h1>
                    <p>Findors algorithm provides a peer to peer trustless secret ballot box. We </p>
                </div>
            </div>
        
            <div class="l1">
                <img src="img/budget-friendly_18291466.png" alt="">
                <div class="write">
                    <h1>Everyday Low Prices</h1>
                    <p>Findors algorithm provides a peer to peer trustless secret ballot box. We  </p>
                </div>
            </div>

      </div>

    <section>
    <h1 style="font-size: 40px; color: black;">About Us</h1>
    <p>J-Royals grillsnchops, a leading brand under the Sundry Foods umbrella, is redefining the food online delivery experience within the Quick Service Restaurant (QSR) industry. As one of the fastest-growing restaurant brands, Kilimanjaro proudly operates 84 stores across 17 states and is continually expanding to serve more customers through convenient online food delivery services nationwide.</p>
    <p>Dedicated to catering to diverse culinary tastes in sub-Saharan Africa, Kilimanjaro offers a distinctive menu filled with contemporary and authentic Nigerian dishes, enjoyed by households across Africa. With our commitment to quality and freshness, J-Royals grillsnchops provides a seamless food online delivery option, allowing customers to enjoy their favorite meals, pastries, sandwiches, and beverages from the comfort of their homes. Our restaurants are known for their vibrant decor and inviting ambiance, but we’re equally dedicated to delivering the same quality experience through online food delivery.</p>
    <p>Our vision is to open a Kilimanjaro restaurant in every major city, making it easier than ever to enjoy our delicious offerings through food online delivery or a visit to one of our welcoming locations.</p>

</section>

<div class="carousel">
    <div class="carbtn">
     <button class="prev-btn">&#8249;</button>
     <button class="next-btn">&#8250;</button>
    </div>
     <div class="carousel-wrapper">
       <div class="carousel-track"> 
       <img src="img/african-american-bartender-wear-bow-tie-using-cash-terminal-screen-bar-min.jpg" alt="">
      <img src="img/french-restaurant-south-france-min.jpg" alt="">
      <img src="img/front-view-man-having-lunch-restaurant-min.jpg" alt="">
      <img src="img/front-view-woman-working-service-industry-min.jpg" alt="">
      <img src="img/medium-shot-brazilian-family-cooking-tasty-desserts-min.jpg" alt="">
      <img src="img/smiley-friends-enjoying-time-together-min.jpg" alt="">
      <img src="img/easy-wireless-yechnology-payment-min.jpg" alt="">
      <img src="img/bartender-preparing-drink-bar-min.jpg" alt="">
      <img src="img/cheerful-businessman-seaking-phone-shaking-hand-min (1).jpg" alt="">
       </div>
     </div>
   </div>

    <footer>

        <div class="topa">
         
            <div class="newsletter-container">
                <h1>Subscribe to Our Newsletter</h1>
                <p>Get the latest updates straight to your inbox.</p>
                <form id="newsletter-form">
                  <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="Enter your email address" 
                    required
                  >
                  <button type="submit">Subscribe</button>
                </form>
                <p id="message"></p>
              </div>
  
            <div class="lefta">
            
                 <h2>CONTACT INFO</h2>
    
                 <p>+2348148238997</p>
    
                 <a href="mailto:jroyalaffairs@gmail.com"> <p>jroyalaffairs@gmail.com</p></a>
    
                 <p>36 Behind Flat Road, Nsukka, Nigeria</p>
  
                 <div class="leftaimg" style="cursor: pointer; padding: 5px;">
                    <img  style="height: 40px; border-radius: 40px;" src="img/fb icon.png" alt="">
                    <img style="height: 40px;" src="img/icons8-whatsapp-50.png" alt="">
                    <img style="height: 40px; border-radius: 40px;" src="img/ig icon.png" alt="">
                    <img style="height: 40px;" src="img/icons8-twitterx-50.png" alt="">
                 </div>
    
            </div>
  
    
            <div class="righta">
                <h2>OPENING HOURS</h2>
                <p>MONDAY - SATURDAY: 8:00AM - 10:00PM</p>
                <p>SUNDAY: 8:00AM - 10:00PM</p>
    
            </div>
    
    
        </div>
    
        <hr>
    
        <div class="bottoma">
    
       <img src="img/sample.png" alt="">
    
       <p >© 2024 Royal Grills'n'Chops. All rights reserved.</p>
    
        </div>
    
       </footer>

<script src="about.js"></script>
<script src="about2.js"></script>
<script src="app.js"></script>
</body>
</html>