<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="frontend/css/Gallery.css" />
    <link rel="stylesheet" href="/" />
    <link rel="stylesheet" href="/about" />
    <link rel="stylesheet" href="/order" />
    <link rel="stylesheet" href="/reservation" />
    <title>Food Gallery</title>
  </head>
  <body>
    <nav class="header">
      <a href="/"
        ><img
          class="img-logo"
          src="frontend/img/jroyalgrills'n'chopsnewlogo.png"
      /></a>

      <ul class="navbar">
        <li class="nav-links"><a href="/">Home</a></li>
        <li class="nav-links"><a href="/menu">Menu</a></li>
        <li class="nav-item"><a href="/gallery"> Gallery</a></li>
        <li class="nav-links"><a href="/reservation">Reservation</a></li>
        <li class="nav-links"><a href="/about">About</a></li>
        <li class="hamburger" onclick="showSidebar()">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e8eaed"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              /></svg
          ></a>
        </li>
      </ul>

      <ul class="sidebar">
        <li class="sidebarbtn" onclick="hideSidebar()">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e8eaed"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              /></svg
          ></a>
        </li>
        <li class="side-nav"><a href="#"></a></li>
        <li class="side-nav"><a href="/">Home</a></li>
        <li class="side-nav"><a href="/menu">Menu</a></li>
        <li class="side-nav"><a href="/gallery">Gallery</a></li>
        <li class="side-nav"><a href="/reservation">Reservation</a></li>
        <li class="side-nav"><a href="/about">About Us</a></li>
      </ul>
    </nav>

    <section class="gallery" id="gallery">
      <h1>OUR FOOD GALLERY</h1>

      <div class="box-container">
        <div class="box">
          <img src="frontend/img/Soup1.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box1" class="btn">Order now</a>
          </div>
        </div>

        <div class="box">
          <img src="frontend/img/Soup2.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box2" class="btn">Order now</a>
          </div>
        </div>

        <div class="box">
          <img src="frontend/img/Soup3.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box300" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/Soup4.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box4" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish1.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box24" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish2.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box25" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish3.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000.</p>
            <a href="/menu#box26" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish4.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box27" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish5.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box28" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish6.jpg" alt="" />
          <div class="content">
            <h3>tasty food</h3>
            <p>Price: 6000</p>
            <a href="/menu#box29" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish7.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box30" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dish8.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box31" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert1.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box12" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert13.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box13" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert2.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box14" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert3.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box15" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert4.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box16" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert5.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box17" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/dessert6.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box18" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/vegetarian1.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box5" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/vegetarian2.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box6" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/vegetarian3.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box7" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/vegetarian4.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box8" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/vegetarian5.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box9" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/vegetarian6-min.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box10" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack1.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box32" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack11 (2).jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box33" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack2.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box34" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack3.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box35" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack4.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box36" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack5.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box37" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack6.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box38" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack12.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box39" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/snack12.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box40" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/drink1.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box19" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/drink2.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box20" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/drink3.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box21" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/drink4.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box22" class="btn">Order now</a>
          </div>
        </div>
        <div class="box">
          <img src="frontend/img/drink5.jpg" alt="" />
          <div class="content">
            <h3>Egg Fried-Rice</h3>
            <p>Price: 6000</p>
            <a href="/menu#box23" class="btn">Order now</a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="topa">
        <div class="newsletter-container">
          <h1>Subscribe to Our Newsletter</h1>
          <p>Get the latest updates straight to your inbox.</p>
          <form id="newsletter-form">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email address"
              required
            />
            <button type="submit">Subscribe</button>
          </form>
          <p id="message"></p>
        </div>

        <div class="lefta">
          <h2>CONTACT INFO</h2>

          <p>+2348148238997</p>

          <a href="mailto:jroyalaffairs@gmail.com">
            <p>jroyalaffairs@gmail.com</p></a
          >

          <p>36 Behind Flat Road, Nsukka, Nigeria</p>

          <div class="leftaimg" style="cursor: pointer; padding: 5px">
            <img
              style="height: 40px; border-radius: 40px"
              src="frontend/img/fb icon.png"
              alt=""
            />
            <img
              style="height: 40px"
              src="frontend/img/icons8-whatsapp-50.png"
              alt=""
            />
            <img
              style="height: 40px; border-radius: 40px"
              src="frontend/img/ig icon.png"
              alt=""
            />
            <img
              style="height: 40px"
              src="frontend/img/icons8-twitterx-50.png"
              alt=""
            />
          </div>
        </div>

        <div class="righta">
          <h2>OPENING HOURS</h2>
          <p>MONDAY - SATURDAY: 8:00AM - 10:00PM</p>
          <p>SUNDAY: 8:00AM - 10:00PM</p>
        </div>
      </div>

      <hr />

      <div class="bottoma">
        <img src="frontend/img/sample.png" alt="" />

        <p>© 2024 Royal Grills'n'Chops. All rights reserved.</p>
      </div>
    </footer>

    <script src="frontend/js/script.js"></script>
  </body>
</html>
